body{
  margin:0;
  font-family:Arial, sans-serif;
  color:white;

  background:
    linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.9)),
    url("https://images.unsplash.com/photo-1503376780353-7e6692767b70")
    center/cover no-repeat fixed;
}

.container{
  max-width:1000px;
  margin:auto;
  padding:20px;
}

header{
  background:rgba(0,0,0,.7);
  padding:15px 0;
}

.brand{
  font-size:22px;
  font-weight:bold;
}

.card{
  background:rgba(0,0,0,.65);
  border-radius:18px;
  padding:25px;
  margin-bottom:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.5);
}

h1{margin-top:0}

.btn{
  display:inline-block;
  padding:12px 16px;
  margin:6px 6px 0 0;
  border-radius:10px;
  background:#22c55e;
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.btn:hover{
  background:#16a34a;
}

footer{
  margin-top:30px;
  opacity:.8;
  font-size:14px;
}
